{
  "extends": ["plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "prettier/prettier": 1
  }
}
